[submodule "dev_module_git/UnMicst"]
	path = dev_module_git/UnMicst
	url = git@github.com:HMS-IDAC/UnMicst.git
[submodule "dev_module_git/histoCAT"]
	path = dev_module_git/histoCAT
	url = git@github.com:DenisSch/histoCAT.git
[submodule "dev_module_git/ashlar"]
	path = dev_module_git/ashlar
	url = git@github.com:labsyspharm/ashlar.git
[submodule "dev_module_git/batchtmaDearray"]
	path = dev_module_git/batchtmaDearray
	url = git@github.com:HMS-IDAC/batchtmaDearray.git
